@import './fonts.scss';
@import './marquee.scss';
@import './markdown.scss';
@import './footer.scss';

$primary-color: red;
$primary-font-family: "Karik";

html {
    font-family: $primary-font-family;
}

body {
  color: $primary-color;
}


nav li {
    margin: 2rem;
}

header {
    display: grid;
    width:100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left nav right";
}

nav {
    grid-area: nav;
    width: 100%;
}

header li a {
    color: black;
    text-decoration: none;
}

header li{
    display: inline;
    font-size: 2rem;
}

#active-nav-tab a{
    color: $primary-color;
}

#logo-container {
    pointer-events: none;
    position: fixed;
    left: 10%;
    z-index: 9999;
    width: 15%;
    padding: 0;
}

#body-container {
    display: grid;
    width:100%;
    height:800px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left center right";

    
}

.body-center-content {
    grid-area: center;
    outline: 2px solid red;
    overflow: scroll;
}

.iframe-container {
    // // overflow: hidden;
    // padding-top: 56.25%;
    // s
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .iframe-container iframe {
     height: 100%;
     width: 100%;
     
  }

